.main {
   position: relative; 
}

.main__article {
    display: flex;
    
}

.article__section {
    text-align: center;
}

.figure {
    margin: 0;
}

.figure__image {
    max-height: 400px;
}

.attrib {
    font-size: .8em;
}

.wikipedia {
    display: inline-block;
}