.md-card--margin10 {
    margin: 10px;
}

.main__content-container {
    background: #ECEFF1;
}


.content__summary{

}
.summary__image-and-references {
    display: flex;
    justify-content: center;
}

.summary__card {
    padding-bottom: 10px;
}

.summary__image-container {
    margin: 0;
    position: relative;
}

.summary__image {
    height: 600px;
}
.summary__references {
    display: flex;
}

.reference {
    width: 33.333%;
}


.image__attributions {
    font-size: .7em;
    text-align: center;
    color: #fff;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.attribution {
    text-decoration: none;
    font-style: italic;
    transition: color .2s linear;
}

.attribution:hover {
    color: #999;
}

