<main class="main">
  <article class="main__article">
    <section class="article__section">
        <figure class="figure">
          <img src="../../assets/images/john_green_620px.jpg" alt="John Green" class="figure__image"/>
          <figcaption class="attrib">
            Image by Gage Skidmore, <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, 
            <a href="https://commons.wikimedia.org/w/index.php?curid=33778576">Link</a>
          </figcaption>
        </figure>
        <button class="wikipedia"> Wikipedia Article </button>
    </section> 
    <section class="article__summary">
      <h2 class="article__title"> John Green </h2>
      <div class="summary__presentation">

      </div>
    </section>
  </article>
  <article class="main__article">
    <section class="article__activity">

    </section>
  </article>
</main>
